numpy==1.21.0
pipreqs==0.4.10
cryptography==3.4.7
brotli==1.0.9
Cython==0.29.23
dataclasses==0.8
docutils==0.17.1
flake8==3.9.2
importlib_metadata==4.6.1
keyring==23.0.1
lockfile==0.12.2
lxml==4.6.3
monotonic==1.6
mypy_extensions==0.4.3
ordereddict==1.1
pip_api==0.0.20
protobuf==3.17.3
pyenchant==3.2.1
pylama==7.7.1
pyOpenSSL==20.0.1
PySide2==5.15.2
pytest==6.2.4
requirementslib==1.5.16
tornado==6.1
typed_ast==1.4.3
typing_extensions==3.10.0.0
wincertstore==0.2.1
zipp==3.5.0
